//slick-slider
button.slick-next, button.slick-next:hover {

  

  width: 47px;
  height: 75px;
  background-image: url("../raw-images/happyClient/rightArrow.png");
  background-size: 9px;
  background-position: center center;
  background-repeat:no-repeat;
}
button.slick-prev, button.slick-prev:hover {
 
  

  width: 47px;
  height: 75px;
  background-image: url("../raw-images/happyClient/leftArrow.png");
  background-size: 9px;
  background-repeat:no-repeat;
  background-position: center center;
}
.slick-prev:before, .slick-next:before {
  font-size: 70px;
  color: #EA8496;
  line-height: inherit;
  font-weight: bold;
}


.block_inline{
 display:inline-block;
}
.margin-0{
  margin:0
}
.text_highlighted{
  color:red
}
.nav-item{
  .nav-link{
    color:white;
  }
}
// .giveRelative{
//   position:relative;
// }
// .pp2{
// position:absolute;
// }
// .nn2{
// position:absolute;
// }
.button {
  padding: 2.4% 31px;
  background: #ED485C;
  color:white;
  border:0;
}

.arrow-down {
  display:inline-block;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-top: 137px solid #a9b8cc;
}

//slick-slider
button.slick-next, button.slick-next:hover {

  

  width: 47px;
  height: 75px;
  background-image: url("../raw-images/happyClient/rightArrow.png");
  background-size: 9px;
  background-position: center center;
  background-repeat:no-repeat;
}
button.slick-prev, button.slick-prev:hover {
 
  

  width: 47px;
  height: 75px;
  background-image: url("../raw-images/happyClient/leftArrow.png");
  background-size: 9px;
  background-repeat:no-repeat;
  background-position: center center;
}
.slick-prev:before, .slick-next:before {
  font-size: 70px;
  color: #EA8496;
  line-height: inherit;
  font-weight: bold;
}


.block_inline{
 display:inline-block;
}
.margin-0{
  margin:0
}
.text_highlighted{
  color:red
}
.nav-item{
  .nav-link{
    color:white;
  }
}
// .giveRelative{
//   position:relative;
// }
// .pp2{
// position:absolute;
// }
// .nn2{
// position:absolute;
// }
.button {
  padding: 2.4% 31px;
  background: #ED485C;
  color:white;
  border:0;
}

.arrow-down {
  display:inline-block;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-top: 137px solid #a9b8cc;
}




body{
  
  .container-fluid {
    background-color: #f3f3f3;
    padding:0;
    .page_header{
      .section_one{
        position: relative;
        .banner_image{
          img{
          width:100%;
          }
        }
        .navigation_bar{
          position: absolute;
          width:100%;
          top:0%;
        }
        .see_why{
          position: absolute;
          width:100%;
          bottom:11%;
          text-align: center;
          color: white;
          .arrow_down{
            max-width:100%;
          }
        }
      }
    }

    .page_main{
      .section_1{
        // background-color: black;
         .width_decrease{
          text-align: center;
          width:53%;
          .section_1_logo{
            
            padding:4%;
              img{
                max-width: 100%;
              }
          }
        }
        .slick_slider{
          div{
            text-align: center;
            a{
             
              color:black;
              &:link {
                text-decoration: none;
              }
              
              &:visited {
                text-decoration: none;
              }
              
              &:hover {
                color:red;
                text-decoration: none;
                  p{
                    span{
                    border-top: 137px solid red;
                  }
                }
              }
              
              &:active {
                text-decoration: none;
              }
              p{
                display:inline-block;
              }
            }
          }
        }
      }
      .section_2{
        position:relative;
        text-align:center;
        .section_2_background_img{
          img{
            max-width:100%;
            width:100%;
          }
        }
        .section_2_info{
          position: absolute;
          color:white;
          text-align:center;
          top:0%;
          width:100%;
          
          .section_2_header_logo{
            
            // top:0%;
            
            padding:20px;
          }
          .section_2_heading{
            padding:20px;
          }
          .section_2_about_us{
            padding:20px;
            margin: 0 24.5%;
          }

        }
      }
      .section_3{
        // color:white;
        .row{
          text-align:center;
          
          // .section_3_header{
            
          // }
          .john{
            .john_img{
              img{
              max-width:100%;
              }
            }
            .john_caption{
              .font_awesome{
                color:grey;
                i{
                  padding: 10px;
                  font-weight:bold;
                  font-size:20px;
                }
              }
            } 
          }
          .tim{
            .tim_img{ 
            img{
              max-width:100%;
              }
            }
            .tim_caption{
              .font_awesome{
                color:grey;
                i{
                  padding: 10px;
                  font-weight:bold;
                  font-size:20px;
                }
              }
            } 
          }
          .alison{
            .alison_img{
              img{
                max-width:100%;
                }
            }
            .alison_caption{
              .font_awesome{
                color:grey;
                i{
                  padding: 10px;
                  font-weight:bold;
                  font-size:20px;
                }
              }
            } 
          }
        }
      }

      .section_4{
        position:relative;
        text-align:center;
        
        
        .section_4_background_img{
          img{
            max-width:100%;
            width:100%;
          }
        }
        .section_4_info{
          position: absolute;
          color:white;
          text-align:center;
          top:0%;
          width:100%;
          
          
          .section_4_header_logo{
            // width:100%;
            // top:0%;
            
            padding:20px;
          }
          .section_4_heading{
            padding:20px;
          }
          .slick_slider{
            height:20%;
            div{
              
              a{
                p{
                  margin:0;
                  
                  img{
                    height: 40px;
                    width: auto;
                    margin: 0 auto;
                  }
                  // .chastica{
                  //   background: url('raw-images/happyClient/chastica.png');
                  //   height: 40px;
                  //   width: 25%;
                  //   margin: 0 auto;
                  // }
                  // .ozi{
                  //   background: url('raw-images/happyClient/ozi.png');
                  //   height: 40px;
                  //   width: 25%;
                  //   margin: 0 auto;
                  // }
                  // .freshes{
                  //   background: url('raw-images/happyClient/daisyclean.png');
                  //   height: 40px;
                  //   width: 25%;
                  //   margin: 0 auto;
                  // }
                  // .daisyclean{
                  //   background: url('raw-images/happyClient/daisyclean.png');
                  //   height: 40px;
                  //   width: 25%;
                  //   margin: 0 ;
                  // }
                }
              }
            }
          }
          

        }
      }
      .section_5{
        text-align:center;
        
        .section_5_info{
          width:100%;
          // text-align:center;
            .section_5_header_logo{
              // width:100%;
              // top:0%;
              
              padding:20px;
            }
            .section_5_heading{
              padding:20px;
            }
        }
        .section_5_info_buttons{
          .section_5_button{
            margin: 20px;
            background-color: transparent;
            border: 2px solid red;
            padding: 7px 20px;
            text-align: center;
            color: red;
            border-radius:0;

            &:hover{
              color:white;
            background-color : grey; 
            border:0;
            padding: 9px 22px;
            }
          }
          .section_5_button_active{
          
            color:white;
            background-color : red; 
          }
        }
        .section_5_all{
          position: relative;
          .all_tab{
              .display_up{
              width:100%;
              // display:flex;
              // max-height:200px;
              img{
                // font-size:0;
                // max-width:100%;
                width:20%;
                
              }
            }
            .display_down{
              width:100%;
              img{
                
                width:20%
              }
            }
          }
          .video_tab{
            // text-align:center;
            visibility:hidden;
            position: absolute;
            height:100%;
            width:100%;
            top:0%;
            iframe{
              width:100%;
              height:100%;
            }
          }  
        }
      }
      .section_6{
        
        .row{
          
          text-align:center;
          .section_6_info{
            width:100%;
            // text-align:center;
            .section_6_header_logo{
              
              
              padding:20px;
            }
            .section_6_heading{
              padding:20px;
            }
          }  
          .blog{
            padding-bottom:5%;
            img{
              width:100%;
            }
            .calender{
              text-align:left;
              width:49%;
              i{
                margin-right:1%;
              }
            }
            .comments{
              text-align:right;
              font-weight:bold;
              width:49%;
              i{
                margin-right:5%;
              }
            }
            .blog_heading_padding_less{
              // height:25%
              padding-bottom:5%;
            }
            .blog_heading{
              padding-bottom:14.52%;
            }
            .blog_detail{
              text-align:left;
            }
          }
        }
      }
      .section_7{
        position: relative;
        text-align:center;
        .section_7_background_img{
          img{
            width:100%;
          }
        }
        .section_7_content.container{
          position:absolute;
          top:0%;
          width:100%;
          margin:0 14%;
          
          .section_7_header{
            padding:4% 0 4%;
            color:white;
          }
          .section_7_content{
            .social_media_share{
              width:49%;
              text-align:left;
              a{
                padding:7px;
              }
            }
            .email_subscription{
              text-align:right;
              width:50%;
              input {
                font-size: 20px;
                padding: 5px 26% 12.5px 3%;
                margin-right: 6.45%;
              }
              
            }
          }
        }
      }
      .section_8.container{
        padding-bottom:3%;
        width:50%;
        .section_8_header{
          text-align:center;
          img{
            padding:3%;
          }
          h3{
            padding:1%;
          }
        }
        // .company_details{
          
        //     }
        .say_hello{
          padding-left:8%;
          .input_entry{
            
            p{
              input{
                width:63%;
                padding:1%;
                outline: none;
              }
              span{
                padding-left:4%;
              }
            }
            .input_area{
              textarea{
                resize: none;
                width:100%;
                outline: none;
              }
            }
            .button_send{
              text-align:right;
              .button{
                padding:1% 31px;
              }
            }
          }
        }
      }
    }  

    .page_footer{
      .responsive-map{
        overflow: hidden;
        padding-bottom: 30.25%;
        position: relative;
        height: 0;

        iframe{
          width: 100%;
          position:absolute;
          height:100%;
          left:0;
          top:0;
          margin: 0px;
          padding: 0px;
          border-width: 0;
        }
      }
    }
  } 
}


